spring:
  cloud:
    gateway:
      routes:
        - id: demo
          uri: https://test-demo-dudyacks94-dev.apps.sandbox-m3.1530.p1.openshiftapps.com
          predicates:
            - Path=/api/demo/**
          filters:
            - StripPrefix=2
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - '*'
            allowedHeaders:
              - '*'
            allowedMethods:
              - '*'
  application:
    name: demo-gateway
server:
  port: 8085
