spring:
  cloud:
    gateway:
      routes:
        - id: demo
          uri: lb://demo
          predicates:
            - Path=/api/demo/**
          filters:
            - StripPrefix=2
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - '*'
            allowedHeaders:
              - '*'
            allowedMethods:
              - GET
              - POST
              - OPTIONS
  application:
    name: demo-gateway
server:
  port: 8085

eureka:
  client:
    registry-fetch-interval-seconds: 30
    register-with-eureka: false
    fetch-registry: false
